---
swagger: "2.0"
info:
  description: "API"
  version: "1.0.0"
  title: "Projects - Mentors and Mentees"
host: "django-8000.cy.devfactory.com"
basePath: "/"
schemes:
- "http"
paths:
  /users/:
    post:
      description: "Create a new user"
      operationId: "user_create"
      parameters:
      - in: "body"
        name: "name"
        description: "The name of the person"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        201:
          description: "User  added successfully"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /project/:
    post:
      description: "Create a project"
      operationId: "create_project"
      parameters:
      - in: "body"
        name: "name"
        description: "Name of project"
        required: true
        schema:
          $ref: "#/definitions/Project"
      responses:
        201:
          description: "Project created successfully"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /project/{proj_id}/assign-mentor/{user_id}/:
    post:
      description: "Assign a project mentor to a project."
      operationId: "assign_mentor"
      parameters:
      - in: "path"
        name: "user_id"
        description: "ID of user"
        required: true
        type: integer
      - in: "path"
        name: "proj_id"
        description: "ID of project"
        required: true
        type: integer
      responses:
        201:
          description: "Mentors assigned successfully"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /users/{user_id}/assign-project/{proj_id}/:
    post:
      description: "Assign a project mentor to a project."
      operationId: "assign_project"
      parameters:
      - in: "path"
        name: "user_id"
        description: "ID of user"
        required: true
        type: integer
      - in: "path"
        name: "proj_id"
        description: "ID of project"
        required: true
        type: integer
      responses:
        201:
          description: "Mentors assigned successfully"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /mentors/{mentor_id}/mentees/:
    get:
      description: "Get the list of IDs of the users being mentored by the queried\
        \ user."
      operationId: "get_mentees"
      parameters:
      - name: "mentor_id"
        in: "path"
        description: "ID of the user"
        required: true
        type: "integer"
      responses:
        200:
          description: "Mentees fetched successfully"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /mentors/{mentor_id}/projects/:
    get:
      description: "Get the list of IDs of the projects being mentored by the queried\
        \ user."
      operationId: "get_mentoring_projects"
      parameters:
      - name: "mentor_id"
        in: "path"
        description: "ID of the user"
        required: true
        type: "integer"
      responses:
        200:
          description: "Projects fetched successfully"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
  /project/{project_id}/associates/:
    get:
      description: "Get the list of IDs of the mentors and users of the project"
      operationId: "get_users_and_mentors"
      parameters:
      - name: "project_id"
        in: "path"
        description: "ID of the project"
        required: true
        type: "integer"
      responses:
        200:
          description: "Users and mentors"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
definitions:
  User:
    type: "object"
    properties:
      name:
        type: "string"
        description: "Name of user"
  ProjectUser:
    properties:
      user:
        type: "integer"
        description: "Mentee/Mentor ID"
      project:
        type: "integer"
        description: "Project ID"
      is_mentor:
        type: "boolean"
        description: "Denotes whether the user is a mentor or a mentee"
    description: "object"
  Project:
    type: "object"
    properties:
      name:
        type: "string"
        description: "Name of Project"
